<div class="container d-flex justify-content-center align-items-center flex-column mt-4">
<h1>Actor #<%= @actor.id %> details</h1>

<div class="card-container d-flex justify-content-center align-items-center flex-wrap mt-4">
    
      <div class="card d-flex justify-content-center align-items-center flex-wrap m-4" style="width: 18rem;">
         <h5 class="card-title m-3"> <%= @actor.name %></h5>
         
          <img src=<%= @actor.image %> class="card-img-top" alt="...">
          <p><%= @actor.dob %></p>
          <p><%= @actor.bio %></p>
          <p>Created at <%= @actor.created_at %></p>
          <p>Updated at <%= @actor.updated_at %></p>
         </div>
               

  </div>
</div>
