<div class="container d-flex justify-content-center align-items-center flex-column">
<h1>List Of All Actors</h1>
<hr>
<div class="card-container d-flex justify-content-center align-items-center flex-wrap">
    <% @actors.each do|actor| %>
      <div class="card d-flex justify-content-center align-items-center flex-wrap m-4" style="width: 18rem;">
         <h5 class="card-title"> <%= actor.name %></h5>
         <p><%= actor.dob %></p>
         <p><%= actor.id %></p>
          <img src=<%= actor.image %> class="card-img-top" alt="...">
         <a href="/actors/<%= actor.id %>">Show Details</a>
            
</p>
         </div>
               <% end %>

  </div>
  
</div>
