<div class="container d-flex justify-content-center align-items-center flex-column">
<h1>List Of All Movies</h1>
<hr>
<div class="card-container d-flex justify-content-center align-items-center flex-wrap">
    <% @movies.each do|movie| %>
      <div class="card d-flex justify-content-center align-items-center flex-wrap m-4" style="width: 18rem;">
         <h5 class="card-title"> <%= movie.title %></h5>
         
         <p><%= movie.year %></p>
         
         <p><%= movie.id %></p>
          <img src=<%= movie.image %> class="card-img-top" alt="...">
          <a href="/movies/<%= movie.id %>">Show Details</a>
         </div>
         
               <% end %>

  </div>
</div>
